root = true

[*]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4

[*.cs]
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion
csharp_style_namespace_declarations = file_scoped:suggestion

[*.md]
trim_trailing_whitespace = false

[*.{sh,yaml,yml}]
charset = utf-8
end_of_line = lf

[*.sh]
indent_size = 2
